doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title= "Ошибка"

    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    div(class="container" style="padding: 19px;")
      div(class="panel panel-danger")
        div(class="panel-heading")
          h3(class="panel-title")= "Что-то пошло не так :("
        div(class="panel-body")= error