#app {
	margin: auto;
    max-width: 768px;
	font-family: 'Droid Sans', sans-serif;
}

.vsu-schedule-item-odd {
    background-color: #fff1f1;
}

.vsu-schedule-item-even {
    background-color: #fdfff1;
}

.vsu-enter-active, .vsu-leave-active {
    transition: opacity 0.3s;
}

.vsu-enter, .vsu-leave-to {
    opacity: 0;
}