#app {
	margin: auto;
	width: 100%;
	font-family: 'Droid Sans', sans-serif;
}

.vsu {
	width: 100%;
	margin: auto;
}

.even-week {
    color: #0e6ebf;
}

.vsu-schedule-item-odd {
    background-color: #fff1f1;
}

.vsu-schedule-item-even {
    background-color: #fdfff1;
}