#app {
	margin: auto;
    max-width: 768px;
    padding: 19px;
	font-family: 'Droid Sans', sans-serif;
}

.vsu-enter-active, .vsu-leave-active {
    transition: opacity 0.3s;
}

.vsu-enter, .vsu-leave-to {
    opacity: 0;
}
